* {
    margin : 0;
    padding:0;
    box-sizing:border-box;
}

.header {
    width:100%;
    height:56px;
    background:rgb(53, 52, 51);
    color: rgb(124, 123, 123);

}

.logo {
    float: left;
    margin-left:27px;
    margin-top:12px;
}

.header_ul {
    list-style-type:none;
    float: left;
    display: block;
}

.pirveli_li {
    float: left;
    display: block;
    margin:17px 15px 15px 30px;
    color: rgb(255, 255, 255);
    font-size:17px;

}

.shua_li{
    float: left;
    display: block; 
    margin: 17px 15px 15px 0;
    font-size:17px;

}

.bolo_li{
    float: left;
    display: block;
    margin-top:-14px;
    font-size:48px;

}

.submit2 {
    margin-left:395px;
    background:rgb(53, 52, 51);
    margin-right: 20px;
    border:none;
    float:left;
    color: rgb(124, 123, 123);
    margin-top:17px;
    font-size:16px;

}
.submit3 {
    background:rgb(53, 52, 51);
    float:left;
    margin-right: 20px;
    border:none;
    color: rgb(124, 123, 123);
    margin-top:17px;
    font-size:16px;

}
.search{
    width:230px;
    height:28px;
    margin-top:12px;
    border-radius:6px;
    position: relative;
    padding-left:25px;
}
.fa-search{
    position: absolute;
    margin-top:20px;
    margin-left:-223px;
}


.all {
    font-size:17px;
    color: rgb(124, 123, 123);
}

.pirveli_li:hover .ash {
    display: block;
}

.shua_li:hover .ash {
    display: block;
}

.bolo_li:hover .ash {
    display: block;
}

.ash {
    list-style: none;
    display: none;
    position: absolute;
    background:rgb(53, 52, 51);
    margin-top:19px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    float: left;
    margin-left: -5px;
    padding: 0 0 10px 10px;
    width: 180px;
    z-index: 1000;
}

hr.hr {
    border:0.5px solid rgb(124, 123, 123);
}

.shua_li:hover {
    color: white;
}
.bolo_li:hover {
    color: white;
}
.submit2:hover {
    color: white;
}
.submit3:hover {
    color: white;
}

.mtliani {
    width:100%;
    height:442px;
    background: rgb(255, 255, 255);
}
.pirveli_naxevari {
    width:52%;
    height:442px;
    float: left;
    padding-left:140px;
    padding-top:85px;
}
.meore_naxevari {
    width:48%;
    height:442px;
    float:left;
}
.h1{
    font-size: 3.3em;
    line-height: 45px;
    color: #6393D2;
    font-weight:bolder;
    padding-bottom:20px;
}
.chanarti{
    font-size:1.4em;
    color: #8F8F8F;
    padding-bottom:20px;
}
.submit4{
    width:75px;
    height:37px;
    border:none;
    color:white;
    background:rgb(230, 88, 112);
    border-radius:5px;
}
.mtlianis_footer{
    padding-top:93px;
    color: #8F8F8F;
    font-size:1.2em;
}
.pink{
    color: #6393D2;
}
.mtvare {
    width: 80%;
    height:400px;
    padding-top:20px;
}

.scrol {
    margin-top:2px;
    width:100%;
    height:53px;
    background: rgb(253, 250, 250);
    text-align: center;
    box-shadow: 0 0px 0.1px 0px;
}

select {
    border:none;
    font-size:1em;   
    width: 80px;
    height:35px;
    margin-top:5px;
    background:rgb(253, 250, 250);
}
.section:hover .scrol {
    display: block;
}

.gallery {
    width: 100%;
    margin-top:2px;
    height:805px;
    background:#f1f1f1f1;
}
.gal-drible {
    width: 100%;
    height: auto;
    position: relative;
}
.album {
    list-style: none;
}
.box {
    width: 220px;
    height: 190px;
    background: #fff;
    top:0;
    left: 0;
    margin-top: 80px;
    margin-left: 150px;
    border-radius: 5px;
    display: block;
    float: left;
}
.imglink {
    
    width: 200px;
    height: 150px;
    margin: 10px
}
.save {
    position :absolute ;
    margin-top:130px;
    margin-left:80px;
    width:50px;
    height:25px;
    background:rgb(255, 254, 254);
    text-align: center;
    font-weight: bold;
    border:0.5px solid rgb(212, 210, 210);
    border-radius:5px;
    color:rgb(61, 61, 61);
    display: none;
}

.like {
    position :absolute ;
    margin-top:130px;
    margin-left:140px;
    width:60px;
    height:25px;
    background:rgb(255, 252, 252);
    text-align: right;
    padding-right:5px; 
    font-weight: bold;
    border:0.5px solid rgb(212, 210, 210);
    border-radius:5px;
    color:rgb(61, 61, 61);
    display:none;
    
}
.fa-heart {
    position: absolute;
    margin-top:2px;
    margin-left:-50px;
    color:rgb(61, 61, 61);
}
.box:hover .save  {
    display: block;
}
.box:hover .like {
    display: block;
}
.pirvel-fotoze:hover {
    background: grey;
}
.meore-fotoze:hover {
    background: grey;
}

.fa-paperclip {
    position: absolute;
    margin-top: 165px;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.6;
}
.attachment {
visibility: hidden;
width: 165px;
height: 30px;
background: #000;
color: #fff;
font-size: 10px;
font-weight: bold;
padding: 0 15px 0 18px;
line-height: 30px;
font-family: 'Nunito', sans-serif;
margin-top: -55px;
margin-left: -10px;
border: 1px solid white;
text-align: left;
}
.attachment:before {
    content: "";
    display: block;
    position: absolute;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: -3px;
    left: 5px;
 }
 .fa-paperclip:hover .attachment {
    visibility: visible;

 }
 .red-sign-in {
     display: block;
     width: 400px;
     height: 50px;
     float: left;
     margin: 100px 400px;
 }
 .red-text {
     width: 350px;
     height: 45px;
     border: none;
     border-radius: 4px;
     background:rgba(218, 67, 67, 0.98);
     margin-left: 25px;
     outline: none;
     color: white;
     font-family: arial;
     font-weight:bold;
     font-size: 16px;
     cursor: pointer;
 }
 .red-text:hover{
    background: rgb(250, 12, 52);
 }
 .blue-sign-in {
     width: 200px;
     height: 40px;
     display: block;
     float: left;
     margin-top: -100px;
     margin-left: 500px;
     text-align: center;
     padding: 10px;
 }
 .blue-text {
     text-align: center;
     font-size: 19px;
     font-family: arial;
     color: rgba(51, 105, 253, 0.98);
     cursor: pointer;
 }
 .blue-text:hover {
     color:rgba(7, 50, 170, 0.98);
 }
 .fa-eye {
     margin-left: 95px;
 }
 .fa-comment {
     margin-left: 10px;
 }
.footer {
     width: 100%;
     height: 300px;
     background: #fff;
     border-top:2px solid rgb(206, 203, 203);
     color:rgb(151, 150, 150);
     padding-top:25px; 
     padding-left:30px;
 }

.piveli_footer {
     width:300px;
     height: 220px;
     float: left;
 }
 .bold {
     font-weight: bold;
     margin-top:5;
     margin-bottom: 20px;
 }
 .fa-fa{
     margin-top:20px;
     margin-bottom: 30px;
     font-size:2em;
 }

 .meore_footer {
    width:100px;
    height: auto;
    float: left;
    margin-left:40px;
    line-height: 25px;
 }
 lh {
     font-weight: bold;
 }
 .mesame_footer {
    width:100px;
    height: auto;
    float: left;
    margin-left:20px;
    margin-top:18px;
    line-height: 25px;
 }
 .meotxe_footer {
     float: left;
     width:200px;
     height: auto;
     margin-left:20px;
     line-height: 22px;
 }

 li {
    list-style:none;
 }

 .bolo_foto {
     float: left;
     width:500px;
 }